<%- include('./layouts/head.ejs') %>

    <body class="gradient-custom">
        <section class="vh-100 ">
            <div class="container py-5 h-100">
                <div class="row justify-content-center align-items-center h-100">
                    <div class="col-12 col-lg-9 col-xl-7">
                        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                            <div class="card-body p-5 p-md-5">
                                <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Đăng kí tài khoản</h3>
                                <form method="post" action="/register" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-md-6 mb-4">

                                            <div class="form">
                                                <label class="form-label" for="fullname">Họ và Tên</label>
                                                <input value="<%= fullname %>" type="text" id="fullname" name="fullname" class="form-control form-control-lg" placeholder="Nhập đầy đủ họ tên" />
                                            </div>

                                        </div>
                                        <div class="col-md-6 mb-4">

                                            <div class="form">
                                                <label class="form-label" for="lastName">Số điện thoại</label>
                                                <input value="<%= phone %>" type="tel" id="phone" name="phone" class="form-control form-control-lg" placeholder="Nhập số điện thoại" pattern="[0-9]{4}[0-9]{3}[0-9]{3}" />
                                            </div>

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 mb-4 d-flex align-items-center">
                                          
                                            <div class="form datepicker w-100">
                                                <label for="birthday" class="form-label">Ngày sinh</label>
                                             
                                                <input value="<%= birthday %>" type="date" name="birthday" class="form-control form-control-lg" id="birthday" />
                                            </div>

                                        </div>
                                        <div class="col-md-6 mb-4 d-flex align-items-center">

                                            <div class="form w-100">
                                                <label for="address" class="form-label">Địa chỉ</label>
                                                <input value="<%= address %>" type="text" name="address" class="form-control form-control-lg" id="address" placeholder="Nhập số địa chỉ của bạn" />
                                            </div>

                                        </div>
                                    </div>


                                        <div class="form w-100">
                                            <label  class="form-label">Hình mặt trước</label>
                                            <input value="<%= idcard_front %>" type="file" name="idcard_front"  class="form-control form-control-lg" required/>
                                        </div>

                                        

                                   
                                    <div class="form w-100">
                                        <label  class="form-label">Hình mặt sau</label>
                                        <input value="<%= idcard_back %>" type="file" name="idcard_back" class="form-control form-control-lg" required  />
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 mb-4 pb-2">

                                            <div class="form">
                                                <label class="form-label" for="email">Email</label>
                                                <input value="<%= email %>" type="email" name="email" id="email" class="form-control form-control-lg" placeholder="Nhập email của bạn" />
                                            </div>

                                        </div>

                                    </div>
                                    <div class="row">
                             
                                    </div>
                                    
                                    <% if(error){ %>
                                        <div class="alert alert-danger mb-3">
                                            <strong>Lưu ý!</strong>
                                            <%= error %>
                                        </div>
                                        <%}%>
                                            <input class="btn btn-primary btn-lg gradient-custom" type="submit" value="Đăng ký" />
                                </form>
                 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </body>

    </html>
    <script>
        createAutoClosingAlert(".alert-danger", 2000);
    </script>